@import url('./variables.css');
@import url('./typography.css');

:root {
  text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--white);
}

::selection,
::-moz-selection {
	background-color: var(--accentColor);
}

/* default input style */
.my-input-label {
  font-size: 14px;
  color: var(--neutralColorDark);
  margin-bottom: 8px;
}

.my-input-style {
  border-radius: 12px;
  height: 48px;
  width: auto;
  border: 1px solid var(--neutralColorLight);
  border-left: none;
  box-shadow: none;
  padding: 16px;
}

.my-input-style:hover {
  border-color: var(--primaryLight);
  outline: none;
  box-shadow: inset 0 0 0 0.1rem var(--primaryLight);
}

.my-input-style:focus {
  border-color: var(--primary);
  outline: none;
  box-shadow: inset 0 0 0 0.1rem var(--primary);
}

/* default button style */
.my-btn {
  background-color: var(--primary);
  width: 100%;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  height: 48px;
  border-radius: 12px;
  box-shadow: none;
  border: none;  
}

.my-btn:hover {
  background-color: var(--primaryLight);
  cursor: pointer;
}

.my-btn:disabled {
  background-color: var(--neutralColorDark);
  cursor: no-drop;
}

.low-opacity {
  opacity: 0.1;
  transition: 0.25s;
}