#car__img {
  width: 200px;
  height: auto;
}


/* cart item button count */
.cart-item__count button {
  width: 32px;
  height: 32px;
  padding: 0 8px;
}

.cart-item__count__button-min {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cart-item__count__button-plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* reservation height max */
.cart-item__count__input, .input__style[type="date"]  {
  padding: 8px;
  height: 32px;
}

.cart-item__count__input {
  width: calc(100% - 64px);
  border-radius: 0;
  text-align: center;
}

#car__total-price {
  font-size: 2rem;
  font-weight: bolder;
}

/* .car__reservation-summary-price label {
  margin-bottom: 16px;
} */